
<div class="radar-container">
	<div class="tree radar-container-item">
		<div ng-repeat="category in filteredDS">
			<div ng-click="category.expand = !category.expand" class="tree-category">
				<span ng-if="!category.expand">⊝</span>
				<span ng-if=" category.expand">❖</span>

				<strong>{{category.quadrant}} </strong>
			</div>
			<div ng-class="category.expand ? 'expand-closed' : 'expand-open'">

				<div ng-repeat="item in category.items"
					ng-class="item.name == selectedItem ? 'radar-selected-list-item ' : 'radar-list-item'"
					ng-mouseenter="select(item.name)"
					ng-mouseleave="select(null)">
					{{item.name}}
				</div>
			</div>
		</div>
	</div>

	<div class="radar-svg radar-container-item">
		<svg width="500" height="500" class="circle-view-svg">
			<defs>
				<polygon points="-6,-6 6,-6 0,6" id="down"/>
				<polygon points="-6,6 6,6 0,-6" id="up"/>
				<circle r="6" id="stable"/>
			</defs>
			<circle cx="0" cy="100%" r="99%" fill="#FFE6ED" />
			<circle cx="0" cy="100%" r="87%" fill="#FDEEEC" class="circle-2"/>
			<circle cx="0" cy="100%" r="75%" fill="#FDF7ED" class="circle-1"/>
			<circle cx="0" cy="100%" r="50%" fill="#EEF5DD" class="circle-0"/>
			<g class="item-host">
			</g>
		</svg>
	</div>
</div>

<!-- ids which usings on JS
	.circle-0
	.circle-1
	.circle-2

	.item-host

	.circle-view-svg

	.selected-radar-item
	.selected-list-item

	.radar-svg

	#up
	#stable
	#down
 -->





