<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body ng-app="app">
	
	<div ng-controller="ctrl">
	
		<div>
			<input type="text" placeholder="filter" />
			<div ng-repeat="item in data.items">
				{{item}}
			</div>
			<button ng-click="click()"> Click me</button>
		</div>
	

		<div>
			<input type="radio" ng-model="view" value="circle" checked> Circle </input>
			<input type="radio" ng-model="view" value="table"> Table </input>
			<input type="radio" ng-model="view" value="plain"> Plain </input>
		</div>

		<div ng-switch="view">

			<div ng-switch-when="table">
				TODO: table
			</div>

			<div ng-switch-when="plain">
				<div plain-view="data"></div>
			</div>

			<div ng-switch-when="circle" class="radar-container">	
				<div circle-view="data"></div>
			</div>

		</div>
	</div>

	<script src="http://d3js.org/d3.v3.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
	<script src="./script.js"></script>
	<script src="./appscript.js"></script>
</body>
</html>