
	aside {
		background: #f0f0f0;
		padding: 10px;
		width: 200px;
		float: left;
	}
	article {
		margin-left: 240px;
		display: block;
	}





svg.plainView {
	border: 1px solid gray;
	display: inline-block;
}

text.vertical {
	writing-mode: tb;
}

text.custom-text {
	fill: #555555;
}

text.use {
	fill : #8FAF3A;
}
text.use-with-care {
	fill : #DC9939;
}
text.be-informed {
	fill : #EB5645;
}
text.avoid {
	fill : #FF3C73;
}

line {
    shape-rendering : crispEdges;
}

div.radar-container {
	width: 90%;
	display: inline-block;
	overflow: auto;
}

div.radar-container-item {
	display: inline-block;
	vertical-align: top;
}

/* circle view classes */
.expand-open {
	padding-left: 10px;
	display: block; 
}
.expand-closed {
	display: none; 
}
.tree-category {
	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.tree {
	width: 20%;
	height: 100%;
	/* height: 500px;
	overflow: auto; */
}

svg.circle-view-svg {
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	display: inline-block;
}

div.radar-svg {
	width: 50%;
}


.radar-list-item {
	transition: background 0.3s ease;
}

.radar-selected-list-item {
	background-color: #3DB5BE;
}


g.item-host > use {
	cursor: pointer;
	fill: #555555;
	transition: fill 0.2s ease;
}

g.item-host > use.selected-radar-item {
	fill: #3DB5BE;
}
