svg.circle-view-host {
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	display: inline-block;
}

svg.plainView {
	border: 1px solid gray;
	display: inline-block;
}

text.vertical {
	writing-mode: tb;
}

text.custom-text {
	fill: #555555;
}

text.use {
	fill : #8FAF3A;
}
text.use-with-care {
	fill : #DC9939;
}
text.be-informed {
	fill : #EB5645;
}
text.avoid {
	fill : #FF3C73;
}

line{
    shape-rendering : crispEdges;
}
div.radar-container {
	width: 90%;
	display: inline-block;
	overflow: auto;
}

div.radar-container-item {
	display: inline-block;
	vertical-align: top;
		/*tmp*/
	/*border: 1px solid gray;*/
}

div.radar-svg {
	width: 50%;
}

div.tree {
	width: 20%;
	height: 100%;
}

			
			
			
			